---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "@/components/Posts/PostList.astro";
import "../styles/global.css";

const pageTitle = "Homepage";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout pageTitle={pageTitle}>
  <h1>My Astro Site</h1>
  <PostList />
</BaseLayout>
