---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <h1>SanYeCao Blog</h1>
        <div>
            <ThemeIcon />
        </div>
        <Navigation />
    </nav>
</header>

<style>
    div {
        display: flex;
        justify-content: space-between;
    }
</style>
